<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../IMG/logo.webp" alt="logo">

            <!-- menu -->
            <ul id="menu-utama">
                <li><a href="index.html">home</a></li>
                <li><a href="#">nasional</a></li>
                <li><a href="#">internasional</a></li>
                <li><a href="#">ekonomi</a></li>
            </ul>
             <!--form search  -->
             <form action="#">
                <input type="text" name="search">
             </form>
        </div>

        <div id="content">
            <div class="sub-artikel">
                <h2>Dakota Johnson Enggan Jadi Madame Web Lagi</h2>
                <a href="">CNN Indonesia</a>
                <h6>Rabu, 06 Mar 2024 09:00 WIB</h6>
                <img src="../IMG/artikel 2.jpg" alt="gambar artikel2">
                <p>Dakota Johnson memastikan dirinya enggan kembali berperan sebagai Madame Web. Alasannya sederhana, ia merasa tak cocok di dunia superhero./p>
                <p>Meski begitu, dalam wawancara dengan Bustle yang diberitakan Entertainment Weekly pada Selasa (5/4), Johnson mengakui bermain dalam Madame Web "jelas sebuah pengalaman".</p>
                <p>"Saya belum pernah melakukan hal seperti itu sebelumnya," kata Johnson. "Saya mungkin tak akan pernah melakukan seperti itu lagi nanti karena saya tak cocok di dunia itu,"</p>
                <p>"Dan saya tahu itu sekarang. Namun kadang di industri ini, kau terlibat dalam sesuatu, dan itu satu hal yang kemudian ketika kau melakukannya, itu menjadi hal yang sungguh berbeda dan kau akan kaget karenanya," lanjutnya.</p>
                <p>Berdasarkan laman agregator Rotten Tomatoes pada Kamis (15/2), Madame Web hanya mendapat nilai 15 persen dari 124 ulasan kritikus dan jadi salah satu dari dunia film Sony's Spider-Man Universe (SSU) dengan nilai kritikus paling buruk.</p>
            </div>
        </div>
        <div id="sidebar">
            <h2>who we are?</h2>
            <p>kita adalah mahasiswa PLJ kampus cimone prodi KA yang sedang belajar membuat website portal sederhana menggunakan bahasa pemograman HTML.</p>

            <h2>artikel berdasarkan kategori</h2>
            <ul>
                <li><a href="#">olahraga</a></li>
                <li><a href="#">politik</a></li>
                <li><a href="#">makanan</a></li>
            </ul>
        </div>
        <div id="footer">
            <p>fajar nur zakly &copy; 2024</p>
        </div>
    </div>
</body>
</html>