<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../IMG/logo.webp" alt="logo">

            <!-- menu -->
            <ul id="menu-utama">
                <li><a href="index.html">home</a></li>
                <li><a href="#">nasional</a></li>
                <li><a href="#">internasional</a></li>
                <li><a href="#">ekonomi</a></li>
            </ul>
             <!--form search  -->
             <form action="#">
                <input type="text" name="search">
             </form>
        </div>

        <div id="content">
            <div class="sub-artikel">
                <h2>Ahli BRIN Ungkap Syarat Awal Puasa dan Lebaran di RI Bisa Seragam</h2>
                <a href="">CNN Indonesia</a>
                <h6>Sabtu, 9 Maret 2024 | 10:12 WIB</h6>
                <img src="../IMG/artikel 3.jpeg" alt="gambar artikel3">
                <p>Awal Ramadhan 1445 H yang akan ditentukan pemerintah akan berbeda dengan awal Ramadan ormas Islam di Indonesia, seperti Muhammadiyah. Namun, Lebaran atau Idulfitri kemungkinan besar akan berbarengan.</p>
                <p>Peneliti ahli utama Pusat Riset Antariksa BRIN Prof Thomas Djamaluddin menjelaskan kemungkinan jatuhnya 1 Ramadan 1445 H di Indonesia pada 12 Maret 2024 mendatang. Hal tersebut mengacu pada penerapan ketentuan para Menteri Agama Brunei, Indonesia, Malaysia, dan Singapura (MABIMS), yang telah diimplementasikan sejak 2022 lalu.</p>
                <p>Dampak dari implementasi ketentuan rukyat berdasarkan MABIMS itu membuat wujud hilal harus berada di tingkat 3 derajat dengan elongasi 6,4 derajat. Jika mengacu pada hal tersebut, maka diperkirakan wujud hilal belum terlihat pada upaya metode rukyat yang rencananya dilakukan pada 10 Maret 2024 besok.</p>
                <p>“Wilayah yang memenuhi kriteria 3 derajat elongasi 6,4 derajat baru di benua Amerika, di Asia Tenggara belum terpenuhi, sehingga kemungkinan besar hasil rukyat tidak ada yang berhasil. Maka, diperkirakan pada saat maghrib 10 maret 2024 tidak ada hilal yang terlihat. Hal ini belum memenuhi kriteria dan membuat awal Ramadan jatuh pada Selasa, 12 maret 2024,” ujar Thomas saat ditemui di Jakarta pada Jumat (8/3/2024).</p>
                <p>Kemungkinan keputusan pemerintah dalam menetapkan 1 Ramadan 1445 H pada Selasa 12 Maret 2024, akan memunculkan perbedaan dengan keputusan PP Muhammadiyah yang akan mengawali bulan puasa sehari lebih cepat. Muhammadiyah  telah menegaskan menggunakan metode penentuan hisab dan menyebut 1 Ramadan 1445 H jatuh pada Senin, 11 Maret 2024.</p>
            </div>
        </div>
        <div id="sidebar">
            <h2>who we are?</h2>
            <p>kita adalah mahasiswa PLJ kampus cimone prodi KA yang sedang belajar membuat website portal sederhana menggunakan bahasa pemograman HTML.</p>

            <h2>artikel berdasarkan kategori</h2>
            <ul>
                <li><a href="#">olahraga</a></li>
                <li><a href="#">politik</a></li>
                <li><a href="#">makanan</a></li>
            </ul>
        </div>
        <div id="footer">
            <p>fajar nur zakly &copy; 2024</p>
        </div>
    </div>
</body>
</html>