<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../IMG/logo.webp" alt="logo">

            <!-- menu -->
            <ul id="menu-utama">
                <li><a href="index.html">home</a></li>
                <li><a href="#">nasional</a></li>
                <li><a href="#">internasional</a></li>
                <li><a href="#">ekonomi</a></li>
            </ul>
             <!--form search  -->
             <form action="#">
                <input type="text" name="search">
             </form>
        </div>

        <div id="content">
            <div class="sub-artikel">
                <h2>Red Sparks 'Harus Menunggu' Megawati Datang untuk Masuk Playoff</h2>
                <a href="">CNN Indonesia</a>
                <h6>Selasa, 12 Maret 2024 10:04 WIB</h6>
                <img src="../IMG/artikel 11.jpg" alt="gambar artikel1">
                <p>Pelatih Daejeon CheonKwanJang Red Sparks Ko Hee Jin tak mau timnya berlarut dalam euforia keberhasilan lolos ke babak playoff Liga Voli Korea Selatan (V-League) terlalu lama. Sebab, Megawati Hangestri dan kawan-kawan masih harus memainkan laga tersisa di babak reguler.</p>
                <p>Red Sparks sebelumnya memastikan satu tempat di babak playoff usai mengalahkan GS Caltex 3-0 pekan lalu. Ini merupakan kali pertama mereka bersaing dalam perburuan gelar juara sejak tujuh tahun terakhir.</p>
                <p>Megawati dan kolega saat ini menempati peringkat ketiga klasemen sementara dengan koleksi 61 poin, dari 20 kali menang dan 14 kali kalah. Mereka akan berhadapan dengan Hillstate atau Pink Spiders yang masih dalam persaingan untuk peringkat satu dan dua. Tim yang menempati posisi kedua di klasemen akhir bakal menghadapi Red Sparks.</p>
                <p>Ko Hee Jin mengatakan, saat ini dia bakal mengecek kondisi para pemain menjelang pertandingan tersisa. "Musim belum sepenuhnya berakhir. Kami perlu mengecek kondisi pemain dan secara bekelanjutan, kami juga akan menganalisis lawan-lawan yang akan dihadapi berikutnya."</p>
                <p>Red Sparks hampir pasti kehilangan kapten tim Lee So Young yang mengalami cedera pada ligamen pergelangan kaki kiri. Kondisi tersebut membuat dia disebut mempertimbangkan untuk mengistirahatkan beberapa pemain bintang, seperti Giovanna Milana, Megawati Hangestri, dan Yeum Hye Seon dan memainkan para pemain cadangan, Maca, Lee Sun Woo, Kim  Se In, dan Ahn Ye Rim.</p>
                <p>"Mengingat  pengalaman saya dalam memenangkan delapan pertandingan kejuaraan sebagai pemain, saya perlu menetapkan rencana jangka pendek di awal pertandingan . Kami berencana meneruskan pengetahuan ini kepada para pemain," ucap Ko Hee Jin.</p>
                <p>Red Sparks dijadwalkan bertanding melawan AI Peppers dalam lanjutan ronde keenam V-League di Daejeon Chungmu Gymnasium, Rabu, 13 Maret 2024 mulai pukul 17.00 WIB. Secara rekor pertemuan musim ini, Megawati dan kawan-kawan tak pernah kalah.</p>
                <p>Duel terakhir pada pertengahan Februari lalu, Red Sparks menang 3-1. Kala itu, Giovanna Milana menjadi bintang dengan torehan 27 poin dan menjadi top skor pertandingan. Sementara Megawati hanya mencetak 12 poin.</p>
            </div>
        </div>

        <div id="sidebar">
            <h2>who we are?</h2>
            <p>kita adalah mahasiswa PLJ kampus cimone prodi KA yang sedang belajar membuat website portal sederhana menggunakan bahasa pemograman HTML.</p>

            <h2>artikel berdasarkan kategori</h2>
            <ul>
                <li><a href="#">olahraga</a></li>
                <li><a href="#">politik</a></li>
                <li><a href="#">makanan</a></li>
            </ul>
        </div>
        <div id="footer">
            <p>fajar nur zakly &copy; 2024</p>
        </div>
    </div>
</body>
</html>