<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../IMG/logo.webp" alt="logo">

            <!-- menu -->
            <ul id="menu-utama">
                <li><a href="index.html">home</a></li>
                <li><a href="#">nasional</a></li>
                <li><a href="#">internasional</a></li>
                <li><a href="#">ekonomi</a></li>
            </ul>
             <!--form search  -->
             <form action="#">
                <input type="text" name="search">
             </form>
        </div>

        <div id="content">
            <div class="artikel">
                <img src="../IMG/artikel 11.jpg" alt="gambar artikel">
                <h2>Red Sparks 'Harus Menunggu' Megawati Datang untuk Masuk Playoff</h2>
                <p>Keberhasilan Red Sparks melaju ke playoff liga voli Korea Selatan bertepatan dengan kedatangan Megawati Hangestri Pertiwi di tim asal kota Daejeon tersebut.</p>
                <a href="artikel1.html">baca selengkapnya</a>
            </div>

            <div class="artikel">
                <img src="../IMG/artikel 2.jpg" alt="gambar artikel">
                <h2>Dakota Johnson Enggan Jadi Madame Web Lagi</h2>
                <p>Dakota Johnson memastikan dirinya enggan kembali berperan sebagai Madame Web. Alasannya sederhana, ia merasa tak cocok di dunia superhero.</p>
                <a href="artikel2.html">baca selengkapnya</a>
            </div>

            <div class="artikel">
                <img src="../IMG/artikel 3.jpeg" alt="gambar artikel">
                <h2>Ahli BRIN Ungkap Syarat Awal Puasa dan Lebaran di RI Bisa Seragam</h2>
                <p>Awal bulan Ramadan dan Idulfitri di Indonesia tahun ini kembali berpotensi berbeda antara pemerintah dengan Muhammadiyah.</p>
                <a href="artikel3.html">baca selengkapnya</a>
            </div>
        </div>
        <div id="sidebar">
            <h2>who we are?</h2>
            <p>kita adalah mahasiswa PLJ kampus cimone prodi KA yang sedang belajar membuat website portal sederhana menggunakan bahasa pemograman HTML.</p>

            <h2>artikel berdasarkan kategori</h2>
            <ul>
                <li><a href="#">olahraga</a></li>
                <li><a href="#">politik</a></li>
                <li><a href="#">makanan</a></li>
            </ul>
        </div>
        <div id="footer">
            <p>fajar nur zakly &copy; 2024</p>
        </div>
    </div>
</body>
</html>